@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  width: 100%;
}

.circular-progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-ring-circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: #4299e1; /* Adjust the color as needed */
}

.percentage-text {
  font-size: 1.2rem;
  color: #4299e1; /* Adjust the color as needed */
  margin-top: 5px;
}

body::-webkit-scrollbar {
  display: none;
}

.hide::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}


nav header{
  max-width: 100% !important;
}